* {
    box-sizing: border-box;
    margin: 0;
    font-family: "DM Sans", sans-serif;
}
strong, b {
	font-weight: 700;
	display: block;
}
img {
	display: block;
	max-width: 100%;
}
body .container {
	max-width: 1140px;
	padding-inline: 20px;
}
.menus-list, .menus {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 35px;
	align-items: center;
}
.menus-list a, .menus-list select {
	color: #0d6efd;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	transition: 0.5s all ease-in-out;
    position: relative;
}
.menus-list a:hover {
	color: #000;
}
.country-list {
	position: relative;
}
.country-list::before {
	content: "\f229";
	font-family: bootstrap-icons !important;
	position: absolute;
	left: auto;
	right: 0;
	top: 6px;
	bottom: auto;
	font-size: 15px;
	color: #14bace;
	z-index: 1;
	pointer-events: none;
}
.anncoument-bar {
	background: #e6f3fb;
	padding: 4px 15px;
}
.menus-list select {
	border: 0;
	background: #e6f3fb;
	color: #0d6efd;
	outline: none;
	text-transform: uppercase;
	padding: 5px 20px 5px 5px;
}
.navbar-nav li {
	position: relative;
}
.navbar-nav li .dropdown-menu {
	position: absolute;
	top: 35px;
	bottom: auto;
	left: 0;
	right: auto;
	margin: auto;
	width: 150px;
	height: auto;
	flex-direction: column;
	display: flex;
	transform: scaleY(0);
	transition: 0.5s ease-in-out;
	transform-origin: top;
	border: 0;
	border-radius: 0px;
	box-shadow: 0 10px 30px 0 rgb(45 45 45 / .2);
}
.navbar-nav li:hover .dropdown-menu {
	transform: scaleY(100%);
}
.header .navbar-nav li.nav-item a {
	color: #000;
	font-weight: 500;
	font-size: 16px;
	line-height: 1;
	padding: 0 25px 10px 0;
    position: relative;
}
.header .navbar-nav li.nav-item ul a {
	padding: 5px 10px;
	line-height: 1.2;
	font-size: 14px;
	font-weight: 400;
}
.header {
	position: fixed;
	top: 0;
	bottom: auto;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 999;
}
.header .navbar-nav li a.nav-link::after {
	content: "\f282";
	font-family: bootstrap-icons !important;
	position: absolute;
	left: auto;
	right: 7px;
	top: 0;
	bottom: auto;
	color: #c0b7b7;
}
.header .navbar-nav li a.nav-link:hover {
    color:#0d6efd;
}
.navbar-nav {
	gap: 10px;
}
.search {
	position: relative;
	margin: 0 0 0 25px;
}
.navbar-brand img {
	max-width: 110px;
}
.search input {
	padding: 0 5px;
	width: 70px;
	height: 25px;
	position: absolute;
	left: 0;
	right: auto;
	top: auto;
	bottom: -22px;
	font-size: 14px;
	transform: scaleX(0);
	transform-origin: left;
	transition: 0.5s all ease-in-out;
}
.search i {
	font-weight: 600;
	font-size: 16px;
    cursor: pointer;
}
.search:hover i {
    color: #0d6efd;
}
.search:hover input {
	transform: scaleX(1);
}

/* footer */
.footer {
	background: #e6f3fb;
	padding: 55px 0 0;
}
.container.copy-right {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-block: 5px;
}
.heading-footer {
	color: #283b7b;
	font-size: 22px;
	margin: 0 0 20px;
}
.footer p, .footer .menus-footer a {
	color: #283b7b;
	font-size: 16px;
	line-height: 26px;
}
.social-icons a.btn {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	padding: 0;
	align-items: center;
	color: #283b7b;
	line-height: 1;
	position: relative;
	background: #e6f3fb;
	overflow: hidden;
	border-color: #283b7b;
}
.copy-right a {
	color: #fff;
    text-decoration: none;
}
.menus-footer ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.footer .subscribe .input-group input {
	border-radius: 25px 0 0 25px;
	min-height: 50px;
	padding: 5px 20px;
	color: #cbc2c2;
	font-size: 14px;
}
.footer .subscribe .input-group input::placeholder {
    color: #cbc2c2;
}
.subscribe .input-group .btn {
	background: #f48423;
	padding: 0;
	width: 45px;
	border-radius: 0 22px 22px 0;
	color: #fff;
	font-size: 18px;
	position: relative;
	overflow: hidden;
	border: 0;
}
.copy-right a, .menus-footer a {
	position: relative;
}
.copy-right a::before, .menus-footer a::before, .social-icons a.btn::before,
 .subscribe .input-group .btn::before, .menus-list a::before, .header .navbar-nav li a.nav-link::before, .btn.main-btn::before,
  .approches-wrap ul.nav-tabs button::before, .btn.read-more::before {
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	right: auto;
	background: #283b7b;
	top: auto;
	bottom: 0;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s ease-out;
}
.header .navbar-nav li a.nav-link::before {
    background: #0d6efd;
}
.social-icons a.btn::before, .subscribe .input-group .btn::before, .btn.main-btn::before, 
.approches-wrap ul.nav-tabs button::before, .btn.read-more::before {
    height: 100%;
    top: 0;
    background: #283b7b;
}
.social-icons a.btn svg, .subscribe .input-group .btn i {
	position: relative;
	z-index: 1;
}
.social-icons a.btn svg {
	max-width: 15px;
	fill: #283b7b;
}
.social-icons a.btn:hover svg path {
    fill: #fff;
}
.copy-right a::before {
	background: #fff;
}
.copy-right a:hover::before, .menus-footer a:hover::before, .social-icons a.btn:hover::before,.subscribe .input-group .btn:hover::before,
 .menus-list a:hover::before, .header .navbar-nav li:hover a.nav-link::before, .btn.main-btn:hover::before,
  .approches-wrap ul.nav-tabs button:hover::before, .btn.read-more:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.subscribe {
	width: 35%;
}
.logo-social {
	width: 29%;
}
.menus-footer {
	width: 36%;
}
.logo-footer img {
	max-width: 100px;
}
/* hero-section */
section.hero {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(./img/Banner-Image.png) no-repeat center center/cover;
	padding: 45px 0;
}
body {
	margin: 106px 0 0;
}
body section .container {
	max-width: 1080px;
}
section .main-heading {
	font-size: clamp(28px,42vw/10.80,42px);
	line-height: 1.2;
	font-weight: 300;
	position: relative;
	color: #0E165D;
}
.text-desgin {
	font-size: clamp(32px,60vw/10.80,60px);
	display: block;
	font-weight: 700;
	position: relative;
	width: fit-content;
}
.text-desgin::before {
	content: "";
	background: url(./img/animate-bg.png) no-repeat center center/contain;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	pointer-events: none;
}
section .container p {
	font-size: 16px;
	line-height: 24px;
	color: #0E165D;
}
.hero p {
	max-width: 370px;
}
.btn.main-btn {
	border-radius: 50px;
	padding: 10px 20px;
	color: #ffffff;
	font-weight: 500;
	font-size: 14px;
	background: #4bb5c3;
	border: 1px solid #4bb5c3;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn.main-btn::before, .btn.read-more::before {
	z-index: -1;
}
.btn.main-btn.outline-btn {
	background: transparent;
	color: #4bb5c3;
	margin: 0 0 0 15px;
}
.btn.main-btn.outline-btn:hover {
	color: #fff;
}
/* partners */
section.partners {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: url(./img/home-2sec.jpeg) no-repeat center center/cover;
	position: relative;
}
section.partners::before {
	content: "";
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 1;
}
section.partners .container, section.partners .container > div {
	height: 100%;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-between;
	gap: 25px;
	z-index: 2;
	position: relative;
}
section.partners .container > div {
	padding: 55px 0 120px;
}
.cilnet-wrap {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	flex-wrap: wrap;
	align-items: center;
}
.cilnet-wrap .cilent-count {
	color: #fff;
	font-size: clamp(32px,70vw/10.80,70px);
	line-height: 1.1;
	margin: 0;
}
.cilent-desc {
	color: #fff;
	max-width: 300px;
}
.billion-wrap {
	display: flex;
	justify-content: space-between;
	gap: 25px;
	flex-wrap: wrap;
	text-align: center;
	max-width: 650px;
}
.billion-wrap .delivered-count {
	color: #fff;
	font-size: clamp(22px,40vw/10.80,40px);
	line-height: 1;
	font-weight: 300;
}
.billion-wrap .deliv-des {
	color: #fff;
	max-width: 200px;
	margin: 0;
}
/* product */
.appr-product {
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 8.88px 19.23px 1.18px #0000001A;
	box-shadow: 0 0 19.23px 0 #00000012;
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
}
.approches-wrap {
	width: 40%;
}
.products-list {
	width: 60%;
}
.approches-wrap ul.nav-tabs {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 310px;
}
.approches-wrap ul.nav-tabs button {
	width: 100%;
	background: #fff;
	border-radius: 50px;
	padding: 10px 20px;
	color: #0E165D !important;
	border: 1px solid #074eb8;
	font-weight: 500;
	font-size: 15px;
	position: relative;
	transition: 0.5s all ease-in-out;
	overflow: hidden;
}
.approches-wrap ul.nav-tabs button::before {
	z-index: -1;
	background: #074eb8;
}
.approches-wrap ul.nav-tabs button:hover {
	color: #fff !important;
}
.approches-wrap ul.nav-tabs button.active {
	background: #074eb8;
	color: #fff !important;
}
.approches {
	z-index: 2;
	position: relative;
	margin: -70px 0 0;
}
.product-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}
.product-wrap .product {
	background: #4bb5cb url(/img/ICU-Equipment.png) no-repeat center center/cover;
	min-height: 425px;
	border-radius: 16px;
	padding: 25px;
}
.product-count {
	font-weight: 700;
	color: #fff;
	font-size: clamp(32px,50vw/10.80,50px);
	margin: 0 0;
	line-height: 1.2;
}
.product .product-desc {
	max-width: 118px;
	font-size: 14px;
	line-height: 18px;
	margin: 10px 0;
}
.btn.read-more {
	border-radius: 50px;
	padding: 5px 10px;
	font-weight: 500;
	font-size: 13px;
	background: #fff;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn.read-more:hover {
	color: #fff;
	border-color: #283b7b;
}
.product-wrap .product.covid {
	background-image: url(./img/covid-vaccine.png);
	background-color: #2396ff;
}
/* open-source */
.open-source {
	margin: 100px 0 0;
	background: #0d1c4f;
}
section .main-heading.dark, section .container p.dark {
	color: #fff;
}
.btn.main-btn.dark {
	color: #0d1c4f;
	background: #fff;
	border-color: #0d1c4f;
}
.btn.main-btn.dark:hover {
	color: #fff;
}
.btn.main-btn.dark::before {
	background: #4bb5c3;
}
.sour-img img {
	max-width: 209px;
}
.open-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 90px;
}
.source-wrap {
	padding-block: 70px;
}
.sourc-imgs {
	margin: -74px 0 0;
}
@media screen and (max-width: 999px) {
.header .navbar-nav li.nav-item a {
	font-size: 14px;
}
.open-wrap {
	grid-gap: 20px;
}
.products-list {
	padding: 0 0 0 20px;
}
.appr-product {
	padding: 40px 25px;
}
.product-wrap .product {
	min-height: 350px;
	padding: 20px 15px;
}
.sourc-imgs {
	margin: -35px 0 0;
}
.open-source {
	margin: 80px 0 0;
}

}
@media screen and (max-width: 991px) {
.logo-social {
	width: 100%;
	padding-bottom: 25px;
	text-align: center;
}
.logo-footer {
	width: fit-content;
	margin: 0 auto;
}
.menus-footer {
	width: 50%;
}
.subscribe {
	width: 50%;
}
.social-icons {
	justify-content: center;
	gap: 10px !important;
}
.navbar-toggler {
	padding: 0;
	width: 45px;
	height: 45px;
	border-radius: 50%;
}
.navbar-collapse {
	position: fixed;
	width: 100%;
	z-index: 9999;
	background: #fff;
	top: 106px;
	bottom: auto;
	left: 0;
	right: 0;
	padding: 20px 15px 20px;
	height: calc(100% - 106px);
	display: flex;
	align-items: flex-end;
	flex-direction: column-reverse;
	justify-content: flex-end;
	gap: 15px;
}
body:has(.collapse.show) {
	overflow-y: hidden;
}
.search input {
	width: 110px;
	height: 25px;
	left: auto;
	right: 0;
}
.navbar-nav {
	gap: 0px;
	width: 100%;
	overflow-y: auto;
}
.search {
	position: absolute;
	margin: 0 0 15px auto;
	width: fit-content;
	top: -45px;
	bottom: auto;
	left: auto;
	right: 80px;
}
.header .navbar-nav li.nav-item a {
	padding: 10px 15px;
	border-bottom: 1px solid #a6aeb3;
}
.navbar-nav li .dropdown-menu {
	position: static;
	width: 100%;
	transform: scaleY(1);
	box-shadow: unset;
	padding: 0;
	display: none;
}
body:has(.collapse.show) .navbar-toggler-icon {
	background: transparent;
	position: relative;
}
body:has(.collapse.show) .navbar-toggler-icon::before {
	content: "X";
	line-height: 1;
	position: absolute;
	top: 4px;
	bottom: 0;
	left: 0;
	right: 0;
	height: fit-content;
	font-size: 22px;
}
.navbar-nav li:hover .dropdown-menu {
	display: flex;
}
.navbar-nav li {
	position: relative;
}
.header .navbar-nav li a.nav-link::after {
	top: 10px;
}
.header .navbar-nav li.nav-item ul a {
	padding: 7px 10px 7px 25px;
}
}
@media screen and (max-width: 767px) {
.products-list {
	padding: 0 0 0 0;
	width: 100%;
}
.copy-right a {
	font-size: 14px;
}
.approches-wrap {
	width: 100%;
}
.product-wrap {
	grid-template-columns: 1fr;
}
.open-wrap {
	grid-gap: 20px;
	grid-template-columns: 1fr;
}
.menus-footer, .subscribe {
	width: 100%;
}
.container.copy-right {
	grid-template-columns: 1fr;
	padding-block: 0;
	grid-gap: 10px;
	text-align: center;
}
.source-wrap {
	padding-block: 40px;
}
.sourc-imgs {
	margin: 0 auto;
	max-width: 350px;
}
.sour-img img {
	max-width: 150px;
}
.open-source {
	margin: 50px 0 0;
}
.appr-product {
	padding: 30px 15px;
}
section .main-heading {
	margin-bottom: 25px !important;
}
.approches-wrap .main-heading.mb-5 {
	text-align: center;
}
section.partners .container, section.partners .container > div {
	min-height: 450px;
	justify-content: center;
	align-content: center;
	text-align: center;
	gap: 45px;
}
section.partners {
	min-height: 450px;
}
.cilnet-wrap, .billion-wrap {
	justify-content: center;
}
section.hero {
	min-height: auto;
}
.hero p.mt-5.mb-5 {
	margin: 15px 0 25px !important;
	text-shadow: 0 2px 2px #fff;
}
}
@media screen and (min-width: 600px) and (max-width: 767px) { 
.menus-footer, .subscribe {
	width: 50%;
}
.container.copy-right {
	grid-template-columns: 1fr 1fr;
}
.approches-wrap {
	width: 40%;
}
.products-list {
	padding: 0px 0 0 15px;
	width: 60%;
}
.product-wrap {
	grid-template-columns: 1fr 1fr;
}
}